body {
    /*padding-top: 52px !important;*/
    background-color: rgba(0, 58, 81, 0.2);
}

body, html {
    height: 100%;
    width: 100%;
}


#argosMap {
    height:100%;
    width:100%;
}

#userMap {
    height:720px;
    width:100%;
}

/*#streetView {*/
    /*display: inline-block;*/
    /*height: 350px;*/
    /*width: 350px;*/
/*}*/

#menu {
    left: -25px !important;
}

#menuList {
    background-color: rgba(0, 0, 0, 0.78);
    height: 1000px;
    font-size: 0.95em;
    padding-top: 52px !important
}

#autocompletePredictionsSearch {
    padding: 10px 0 0 10px;
    width: 27%;
    opacity: 0.85;
}

#destination-input{
    border-radius: 0;
}

#notifications {
    width: 300px !important;
    padding-top: 0;
}

#popupContent {
    padding: 15px 15px 0 15px !important;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.78);
}

#popupFooter {
    background-color: whitesmoke;
    padding: 5px 10px 5px 220px !important;
}

#popupFooterResetPwd {
    background-color: whitesmoke;
    padding: 0 10px 5px 122px !important;
}

#forgotPass a {
    color: rgba(255, 69, 0, 0.65);
    font-size: 1.1em;
}

.userForm{
    background-color: rgba(0, 0, 0, 0.12);
    padding: 0 15px 20px 15px;
    box-shadow: 0 0 50px #2a2a2a;
    border-radius: 10px;
}

.modal-header#popupHeader {
    padding: 5px 10px 5px 15px !important;
    color: whitesmoke;
}

.customchart{
    background-color: rgba(0, 0, 0, 0.50);
    color: whitesmoke !important;
    height: 400px !important;
}

.dropdown-header{
    background-color: whitesmoke;
    padding: 10px 10px 10px 20px;
}

.dropdown-menu{
    border: 0;
}

.widget {
    border-radius: 4px;
    color: #c1c1c1;
    z-index: 100;
}

.widget .content{
    padding: 15px 15px 0 15px;
}

.widget-blue {
    background: rgba(0, 109, 204, 0.70);
}
.widget-purple{
    background: rgba(138, 43, 226, 0.70);
}
.widget-black{
    background: rgba(0, 0, 0, 0.70);
}
.progressbar {
    height:2px;
    border-radius: 0;
    background-color: inherit;
    z-index: 123 !important;
}
.progressbar > div {
    background-color: whitesmoke;
}

.message {
    margin-top: 35px;
    box-shadow: 0 0 50px #4b4e4e;


}

.message sub {
    color: lightslategrey;
    font-size: 1.05em;
    padding-bottom: 10px; !important

}
/* context menu */

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}

.uib-tab a {
    color: lightgrey;
    border-radius: 0 !important;
}

.uib-tab a:hover {
    color: blueviolet;
    border-radius: 0 !important;
}

.uib-tab.active a {
    background-color: blueviolet !important;
    color: floralwhite !important;
}

.actual{
    background-color: blueviolet !important;
    color: floralwhite !important;
}

.nav, .pagination, .carousel, .panel-title a, .dropdown-menu a { cursor: pointer; }

.btn, .panel, .panel-heading {
    border-radius: 0 !important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
