body {
    /*padding-top: 52px !important;*/
    background-color: rgba(0, 58, 81, 0.2);
}

body, html {
    height: 100%;
    width: 100%;
}

#argosMap {
    height:100%;
    width:100%;
}

#userMap {
    height:720px;
    width:100%;
}

/*#streetView {*/
    /*display: inline-block;*/
    /*height: 350px;*/
    /*width: 350px;*/
/*}*/

#menu {
    left: -25px !important;
}

#menuList {
    background-color: rgba(0, 0, 0, 0.78);
    height: 1000px;
    font-size: 0.95em;
    padding-top: 52px !important
}

#autocompletePredictionsSearch {
    padding: 10px 0 0 10px;
    width: 27%;
    opacity: 0.85;
}

#destination-input{
    border-radius: 0;
}

#notifications {
    width: 300px !important;
    padding-top: 0;
}

#popupContent {
    padding: 15px 15px 0 15px !important;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.78);
}

#popupFooter {
    background-color: whitesmoke;
    padding: 5px 10px 5px 220px !important;
}

#popupFooterResetPwd {
    background-color: whitesmoke;
    padding: 0 10px 5px 122px !important;
}

#forgotPass a {
    color: rgba(255, 69, 0, 0.65);
    font-size: 1.1em;
}

.userForm{
    background-color: rgba(0, 0, 0, 0.12);
    padding: 0 15px 20px 15px;
    box-shadow: 0 0 50px #2a2a2a;
    border-radius: 10px;
}

.modal-header#popupHeader {
    padding: 5px 10px 5px 15px !important;
    color: whitesmoke;
}

.customchart{
    background-color: rgba(0, 0, 0, 0.50);
    color: whitesmoke !important;
    height: 400px !important;
}

.dropdown-header{
    background-color: whitesmoke;
    padding: 10px 10px 10px 20px;
}

.dropdown-menu{
    border: 0;
}

.widget {
    border-radius: 4px;
    color: #c1c1c1;
    z-index: 100;
}

.widget .content{
    padding: 15px 15px 0 15px;
}

.widget-blue {
    background: rgba(0, 109, 204, 0.70);
}
.widget-purple{
    background: rgba(138, 43, 226, 0.70);
}
.widget-black{
    background: rgba(0, 0, 0, 0.70);
}
.progressbar {
    height:2px;
    border-radius: 0;
    background-color: inherit;
    z-index: 123 !important;
}
.progressbar > div {
    background-color: whitesmoke;
}

ng-map {display:block; width:100%; height:100%;}

.uib-tab a {
    color: lightgrey;
    border-radius: 0 !important;
}

.uib-tab a:hover {
    color: blueviolet;
    border-radius: 0 !important;
}

.uib-tab.active a {
    background-color: blueviolet !important;
    color: floralwhite !important;
}

.actual{
    background-color: blueviolet !important;
    color: floralwhite !important;
}

.nav, .pagination, .carousel, .panel-title a, .dropdown-menu a { cursor: pointer; }

.btn, .panel, .panel-heading {
    border-radius: 0 !important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/*
=========================
    GOOGLE DIRECTIONS
=========================
*/

.adp-maneuver {
    background-size: 38px 1260px;
    position: absolute;
    left: 9%;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url(https://maps.gstatic.com/tactile/directions/text_mode/maneuvers-2x.png);
}

.adp-maneuver.adp-ferry {
    background-position: 0 -1228px
}

.adp-maneuver.adp-ferry-train {
    background-position: 0 -1132px
}

.adp-maneuver.adp-merge {
    background-position: 0 -286px
}

.adp-maneuver.adp-straight {
    background-position: 0 -1068px
}

.adp-maneuver.adp-fork-left {
    background-position: 0 -1100px
}

.adp-maneuver.adp-ramp-left {
    background-position: 0 -1196px
}

.adp-maneuver.adp-roundabout-left {
    background-position: 0 -394px
}

.adp-maneuver.adp-turn-left {
    background-position: 0 -826px
}

.adp-maneuver.adp-turn-sharp-left {
    background-position: 0 0
}

.adp-maneuver.adp-turn-slight-left {
    background-position: 0 -756px
}

.adp-maneuver.adp-uturn-left {
    background-position: 0 -610px
}

.adp-maneuver.adp-fork-right {
    background-position: 0 -998px
}

.adp-maneuver.adp-ramp-right {
    background-position: 0 -858px
}

.adp-maneuver.adp-roundabout-right {
    background-position: 0 -464px
}

.adp-maneuver.adp-turn-right {
    background-position: 0 -966px
}

.adp-maneuver.adp-turn-sharp-right {
    background-position: 0 -1164px
}

.adp-maneuver.adp-turn-slight-right {
    background-position: 0 -102px
}

.adp-maneuver.adp-uturn-right {
    background-position: 0 -75px
}

/*http://maps.gstatic.com/mapfiles/api-3/images/maneuvers.png*/

.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
    /* we have to use !important because we are overwritng inline styles */
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
    box-suppress: hide !important;
}

.gm-style .gm-style-iw {
    background-color: #3C61AD !important;
    color: whitesmoke !important;
    opacity: 0.9 !important;
    border-radius: 4px;
    top: 15px !important;
    left: 20px !important;
    padding: 10px;
    /*display: block !important;*/
}

/* arrow colour #3C61AD */
.gm-style div div div div div div div div {
    background-color: #3C61AD !important;
    opacity: 0.9 !important;
    padding: 0;
    margin: 0;
    top: 0;
    color: whitesmoke;
    box-shadow: none !important;
    box-suppress: hide ;
}

/* close button */
.gm-style-iw + div{
    display: table-header-group !important;
    left: 92%;
    top: 0 !important;
}