<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header text-center" style="padding-left: 3%">
            <a class="navbar-brand" href="#">Argos PS</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" style="cursor: pointer;">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-bell" > </span>
                    <span class="label label-danger">3</span>
                </a>
                <ul class="dropdown-menu" id="notifications">
                    <li class="dropdown-header"><b>Notifications</b></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4t</a></li>
                    <li class="divider"></li>
                    <div class="text-center"><a style="font-size: 0.91em; color: rgba(0, 0, 0, 0.60)">View more</a></div>
                </ul>
            </li>
            <li class="dropdown" style="cursor: pointer;">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"> </span> Your Name
                    <span class="caret"> </span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit profile</a></li>
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>