<div class="col-md-4">
    <div class="widget {{widgetColor}}">
        <div class="row content">
            <div class="col-md-9">
                <p>{{title}}</p>
                <p style="color: whitesmoke; font-size: 2em">123</p>
            </div>
            <div class="col-md-3 text-center">
                <p><span class="glyphicon {{glyphicon}}" style="font-size: 3em"> </span></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <uib-progressbar value="55" class="progressbar"></uib-progressbar>
        <div class="panel-heading">
            <p style="font-size: 0.8em">A crescut cu 55% fata de saptamana trecuta.</p>
        </div>
    </div>
</div>