<div class="container">
    <h2>Register</h2>
    <form>
        <div class = "form-group">
            <label for = "userRegister">User</label>
            <input type = "text" class="form-control" id="userRegister" ng-model="userRegister">
        </div>
        <div class = "form-group">
            <label for = "emailRegister">Email</label>
            <input type = "email" class="form-control" id="emailRegister" ng-model="emailRegister">
        </div>
        <div class = "form-group">
            <label for = "passwordRegister">Parola</label>
            <input type = "password" class="form-control" id="passwordRegister" ng-model="passwordRegister">
        </div>
        <button class="btn btn-primary" ng-click="registerWithEmail()">Register</button>
        <button class="btn btn-link" ui-sref="user.login">Back to login</button>
    </form>
</div>